@import"normalize";
@import"fonts";

$vox-blue: #6d98a8;
$vox-yellow: #fff200;
$vox-grey: #f1f3f2;
$vox-black: #4c4e4d;

$a: "Alright Sans";
$b: "Balto";
$h: "Harriet";
$hd: "Harriet Display";


@mixin font($font) {
   font-family: $font;
}


body {
  img,
  video {
    width:100%;
  }
  @include font($a);

  width:100%;
  height:100%;
  background-color: $vox-grey;
  color: $vox-black;
  .m-header {
    width:100%;
    background-color: $vox-blue;
    padding: 3em 0em 2em;
    .m-header-content{
      width:80%;
      max-width: 63.75em;
      margin: 0 auto;
      .m-logo {
        width:10%;
        min-width: 6.375em;
        float: left;
        .vox-logo {
          fill: $vox-grey;
        }
      }
      .m-byline{
        width:60%;
        float: left;
        font-size: .5em;
        font-style: italic;
        letter-spacing: .02em;
        margin-top: 3.9em;
        color: $vox-grey;
        h1 {
          font-weight: normal;
        }
      }
    }
  }
  .m-section-body {
    width:80%;
    max-width: 63.75em;
    margin:0 auto;
    .m-section-body__content {
      padding: 2em 0;
      h2 {
        @include font($b);
        font-size: 2em;
      }
      hr {
        margin: 1em 0 2em;
        border: 3px solid;
        color: lighten( $vox-blue,30% );
      }
      .m-colum_container {
        margin-bottom: 2em;
        .m-colum_one,
        .m-colum_two,
        .m-colum_three {
          width:30.3%;
          float: left;
          margin-right:4.5%;
          h3 {
            @include font($b);
            font-size:1.5em;
            margin-bottom: .5em;
          }
        }
        .m-colum_three {
          margin-right:0%;
        }
      }
    }
  }
  .m-footer {
    background-color: $vox-yellow;
    height: 10px;
  }
}
