@import"normalize";
@import"fonts";

$vox-blue: #6d98a8;
$vox-yellow: #fff200;
$vox-grey: #f1f3f2;
$vox-black: #4c4e4d;

$a: "Alright Sans";
$b: "Balto";
$h: "Harriet";
$hd: "Harriet Display";


@mixin font($font) {
   font-family: $font;
}


body {
  img,
  video {
    width:100%;
  }
  @include font($a);

  width:100%;
  height:100%;
  background-color: $vox-grey;
  color: $vox-black;
  @media (max-width: 549px) {
    font-size: .8em;
  }
  .m-header {
    width:100%;
    background-color: $vox-blue;
    padding: 4em 0em 2em;
    border-bottom: 5px solid lighten( $vox-blue,20% );
    .m-header-content{
      width:80%;
      max-width: 60em;
      margin: 0 auto;
      @media (max-width: 549px) {
        width:90%;
      }
      .m-logo {
        width:10%;
        min-width: 6.375rem;
        float: left;
        &:hover {
          opacity: .9;
        }
        .vox-logo {
          fill: $vox-grey;
        }
      }
      .m-byline{
        width:60%;
        float: left;
        font-size: .5em;
        font-style: italic;
        letter-spacing: .02em;
        margin-top: 3.9em;
        color: $vox-grey;
        @media (max-width: 549px) {
          margin-top: 4.05em;
        }
        h1 {
          font-weight: normal;
        }
      }
    }
  }
  .m-section-body {
    width:80%;
    max-width: 60em;
    margin:0 auto;
    @media (max-width: 549px) {
      width:90%;
    }
    .m-section-body__content {
      padding: 3em 0;
      a {
        color: $vox-black;
        text-decoration:none;
        padding-bottom: .05em;
        &:hover {
          border-bottom: 2px solid $vox-black;
        }
      }
      h2 {
        @include font($b);
        font-size: 2.25em;
        margin-bottom: 1.5em;
      }
      hr {
        margin: 1em 0 2em;
        border: 3px solid;
        color: lighten( $vox-blue,30% );
      }
      .m-colum_container {
        margin-bottom: 2em;
        @media (max-width: 767px) {
          margin-bottom:0em;
        }
        .m-colum_one,
        .m-colum_two,
        .m-colum_three {
          width:30.3%;
          float: left;
          margin-right:4.5%;
          line-height: 1.5em;
          h3 {
            @include font($b);
            font-size:1.25em;
            margin-bottom: .5em;
          }
          @media (max-width: 767px) {
            width:100%;
            margin-right:0%;
            margin-bottom:1em;
          }
        }
        .m-colum_three {
          margin-right:0%;
        }
      }
      //#### START OF LOGO PAGE
      .m-logo-container {
        margin-bottom:4em;
        .m-logo__content {
          padding: 2%;
          width: 30.3%;
          margin-right:4.5%;
          float: left;
          &.blue {
            background: $vox-blue;
          }
        }
        .m-about-logo__content {
          width: 60.1%;
          float: left;
        }
      }
      //#### START OF TYPOGRAPHY PAGE
      .m-type-container {
        margin-bottom:4em;
        .m-type__content {
          float: left;
          &.m-33 {
            width: 30.3%;
            float: left;
            margin-right: 4.5%;
          }
          &.m-66 {
            width: 30.3%;
            float: left;
            .balto {
              @include font($b);
            }
            .harriet {
              @include font($hd);
              font-style: italic;
            }
            .alright {
              @include font($a);
            }
            .m-main,
            .m-upper,
            .m-lower,
            .m-number {
              font-size: 1.2em;
            }
            .m-main {
              font-size: 8em;
              line-height: 1em;
            }
          }
        }
      }
      //#### START OF COLOR PAGE
      .m-color-primary {
        .m-color-sections {
          width: 25%;
          float: left;
          @media (max-width: 650px) {
            width:100%;
            float: none;
          }
          .m-color-container {
            .box {
              width:10em;
              height: 10em;
              margin: 0 auto;
              @media (max-width: 850px) {
                width: 8em;
                height: 8em;
              }
              @media (max-width: 550px) {
                width: 10em;
                height: 10em;
              }
            }
            .m-vox-blue {
              background: $vox-blue;
            }
            .m-vox-yellow {
              background: $vox-yellow;
            }
            .m-vox-grey {
              background: $vox-grey;
              border: 1px solid $vox-black;
            }
            .m-vox-black {
              background: $vox-black;
            }
            .m-text-container {
              width: 10em;
              margin: 1em auto;
              @media (max-width: 850px) {
                width: 8em;
                p {
                  font-size: .8em;
                }
              }
              @media (max-width: 550px) {
                width: 10em;
                p {
                  font-size: 1em;
                }
              }
            }
          }
        }
      }
      //#### START OF PHOTO PAGE
      .m-mosaic {
        img {
          margin: -3px 0;
        }
        .m-mosaic-60 {
          width:60%;
          float: left;
          @media (max-width: 750px) {
            width:100%;
            float: none;
          }
        }
        .m-mosaic-40 {
          width:40%;
          float: left;
          @media (max-width: 750px) {
            width:100%;
            float: none;
          }
        }
      }
    }
  }
  .m-footer {
    background-color: darken( $vox-grey,10% );
    height:100px;
    border-bottom: 10px solid $vox-yellow;
  }
}

//#### AGNOSTIC STYLES
// .m-33 {
//   width: 30.3%;
// }
// .m-66 {
//   width: 65.1%;
// }
// .m-99 {
//   width: 100%
// }
