<div class="m-header">
  <div class="m-header-content clear">
    <div class="m-logo">
      <a href="http://www.vox.com/">
        <img class="vox-logo" src="<%= image_path("vox_logo.svg") %>">
      </a>
    </div>
    <div class="m-byline">
      <h1>Style Guidelines</h1>
    </div>
  </div>
</div>
