---
title: "Colors"
---


<div class="m-section-body">
  <div class="m-section-body__content">
    <h2>Logo Presentation</h2>
    <div class="m-logo-container clear">
      <div class="m-logo__content">
        <img class="vox-logo" src="<%= image_path("vox_logo_black.svg") %>">
      </div>
      <div class="m-about-logo__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et odio vel arcu pulvinar viverra ut quis augue. Pellentesque mattis erat purus, id lacinia ante pretium ut. Duis justo lectus, fermentum ac ligula dapibus, auctor auctor sapien. Nulla facilisi. Curabitur sapien velit, vestibulum at magna nec, ultricies venenatis sem.</p>
      </div>
    </div>
    <div class="m-logo-container clear">
      <div class="m-logo__content blue">
        <img class="vox-logo" src="<%= image_path("vox_logo_white.svg") %>">
      </div>
      <div class="m-about-logo__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et odio vel arcu pulvinar viverra ut quis augue. Pellentesque mattis erat purus, id lacinia ante pretium ut. Duis justo lectus, fermentum ac ligula dapibus, auctor auctor sapien. Nulla facilisi. Curabitur sapien velit, vestibulum at magna nec, ultricies venenatis sem.</p>
      </div>
    </div>
  </div>
</div>
