---
title: "Colors"
---


<div class="m-section-body">
  <div class="m-section-body__content">
    <h2>Colors</h2>
    <div class="m-color-primary clear">
      <div class="m-color-sections">
        <div class="m-color-container">
          <div class="m-vox-blue box"></div>
          <div class="m-text-container">
            <p>Warrem Blue</p>
            <p>HEX #6d98a8</p>
            <p>RGB (109, 152, 168)</p>
          </div>
        </div>
      </div>
      <div class="m-color-sections">
        <div class="m-color-container">
          <div class="m-vox-yellow box"></div>
          <div class="m-text-container">
            <p>Warrem Yellow</p>
            <p>HEX #fff200</p>
            <p>RGB (255, 242, 0)</p>
          </div>
        </div>
      </div>
      <div class="m-color-sections">
        <div class="m-color-container">
          <div class="m-vox-grey box"></div>
          <div class="m-text-container">
            <p>Mist Cloud</p>
            <p>HEX #f1f3f2</p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="m-color-sections">
        <div class="m-color-container">
          <div class="m-vox-black box"></div>
          <div class="m-text-container">
            <p>Graphene</p>
            <p>HEX #4c4e4d</p>
            <p>RGB (76,78,77)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
