---
title: "Voxdotcom Style Guide"
---

<div class="m-section-body">
  <div class="m-section-body__content">
    <h2>Basic Shiz</h2>
    <!--hr /-->
    <div class="m-colum_container clear">
      <div class="m-colum_one">
        <h3><a href="logo.html">Logo</a></h3>
        <p>Test text...something should be said here but I dont know what</p>
      </div>
      <div class="m-colum_two">
        <h3><a href="typography.html">Typography</a></h3>
        <p>Test text...something should be said here but I dont know what. Test text...something should be said here but I dont know what</p>
      </div>
      <div class="m-colum_three">
        <h3><a href="#">Colors</a></h3>
        <p>Test text...something should be said here but I dont know what</p>
      </div>
    </div>
    <div class="m-colum_container clear">
      <div class="m-colum_one">
        <h3><a href="#">Photography</a></h3>
        <p>Test text...something should be said here but I dont know what. Test text...something should be said here but I dont know what. Test text...something should be said here but I</p>
      </div>
      <div class="m-colum_two">
        <h3><a href="#">Basic Shiz Two</a></h3>
        <p>Test text...something should be said here but I dont know what. Test text...something should be said here but I dont know what</p>
      </div>
      <div class="m-colum_three">
        <h3><a href="#">Basic Shiz Three</a></h3>
        <p>Test text...something should be said here but I dont know what</p>
      </div>
    </div>
    <div class="m-colum_container clear">
      <div class="m-colum_one">
        <h3><a href="#">Basic Shiz One</a></h3>
        <p>Test text...something should be said here but I dont know what</p>
      </div>
      <div class="m-colum_two">
        <h3><a href="#">Basic Shiz Two</a></h3>
        <p>Test text...something should be said here but I dont know what. Test text...something should be said here but I dont know what</p>
      </div>
      <div class="m-colum_three">
        <h3><a href="#">Basic Shiz Three</a></h3>
        <p>Test text...something should be said here but I dont know what</p>
      </div>
    </div>
  </div>
</div>
