---
title: "Typography"
---


<div class="m-section-body">
  <div class="m-section-body__content">
    <h2>Typography</h2>
    <div class="m-type-container clear">
      <div class="m-type__content m-33">
        <h3>Balto</h3>
        <p>Heading typeface. Font weight is bold for most use cases.</p>
      </div>
      <div class="m-type__content m-66">
        <p class="m-main balto">Aa</p>
        <p class="m-upper balto">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
        <p class="m-lower balto">abcdefghijklmnopqrstuvwxyz</p>
        <p class="m-number balto">0123456789</p>
      </div>
    </div>
    <div class="m-type-container clear">
      <div class="m-type__content m-33">
        <h3>Harriet Display</h3>
        <p>Subheading typeface. Font weight is regular and for most use cases it will be italicized.</p>
      </div>
      <div class="m-type__content m-66">
        <p class="m-main harriet">Aa</p>
        <p class="m-upper harriet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
        <p class="m-lower harriet">abcdefghijklmnopqrstuvwxyz</p>
        <p class="m-number harriet">0123456789</p>
      </div>
    </div>
    <div class="m-type-container clear">
      <div class="m-type__content m-33">
        <h3>Alright Sans</h3>
        <p>General use typeface. Font weight is regular for most use cases.</p>
      </div>
      <div class="m-type__content m-66">
        <p class="m-main alright">Aa</p>
        <p class="m-upper alright">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
        <p class="m-lower alright">abcdefghijklmnopqrstuvwxyz</p>
        <p class="m-number alright">0123456789</p>
      </div>
    </div>
  </div>
</div>
